    <%- include('./partials/header') %>

    <div class="container">
        <br>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Introdução</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/classificacao" aria-current="true">Problemas de
                            Classificação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regressao">Problemas de Regressão</a>
                    </li>
                </ul>
            </div>

            <div class="main">
                <div class="card-body ">
                    <h1 class="card-title"><strong>Portal de Ciência de Dados Educacionais</strong></h1>
                    <p class="card-text"><strong>Vinícius Vedovotto</strong></p>
                    <div class="border"></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Problemas de Classificação</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    O objetivo deste portal é fornecer uma aplicação web para ajudar os alunos de
                                    Ciência de Dados a resolver problemas de classificação de dados.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Nome do modelo</th>
                                        <th>Descrição</th>
                                        <th>Avaliações</th>
                                        <th>resultado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>linear_model.SGDClassifier()</td>
                                        <td>bla bla bla</td>
                                        <td>Avaliações</td>
                                        <td>75% de acurácia</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>KNeighborsClassifier(n_neighbors=3)</td>
                                        <td>vizinhos mais próximos</td>
                                        <td>Avaliações</td>
                                        <td>67% de acurácia</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <a href="https://colab.research.google.com/drive/1kg3b4OPUaJEeoXlSFt9d9LXQaEOjjnAm?usp=sharing"
                            class="btn btn-outline-primary">Ver Notebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
