    <%- include('./partials/header') %>

    <div class="container">

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Introdução</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/classificacao" aria-current="true">Problemas de
                            Classificação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regressao">Problemas de Regressão</a>
                    </li>
                </ul>
            </div>

            <div class="main">
                <div class="card-body ">
                    <h1 class="card-title"><strong>Portal de Ciência de Dados Educacionais</strong></h1>
                    <p class="card-text"><strong>Vinícius Vedovotto</strong></p>
                    <div class="border"></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Problemas de Classificação</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    O objetivo deste portal é fornecer uma aplicação web para mostrar os resultados de um TCC de forma mais simplificada e intuitiva. De modo que fique 
                                    disponível online para todos que quiserem conhecer o trabalho.
                                </p>
                                <p>
                                    A primeira etapa do trabalho foi a análise de dados, que consiste em um conjunto de dados que foram coletados em um experimento de...
                                </p>

                                <p></p> 
                            
                            </div>
                        </div>

                        <div class="row">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Nome do modelo</th>
                                        <th>Descrição</th>
                                        <th>Avaliações</th>
                                        <th>Resultado</th>
                                        <th>Modelo bobo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>linear_model.SGDClassifier()</td>
                                        <td>Classificação Linear utilizando SGD.</td>
                                        <td>Avaliação</td>
                                        <td>75% de acurácia</td>
                                        <td>55% de acurácia</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>KNeighborsClassifier(n_neighbors=3)</td>
                                        <td>k vizinhos mais próximos</td>
                                        <td>Avaliação</td>
                                        <td>67% de acurácia</td>
                                        <td>53% de acurácia</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>tree.DecisionTreeClassifier()</td>
                                        <td>Árvores de Decisão</td>
                                        <td>Avaliação</td>
                                        <td>62,3% de acurácia</td>
                                        <td>53% de acurácia</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>neural_network.MLPClassifier()</td>
                                        <td>Rede Neural</td>
                                        <td>Avaliação</td>
                                        <td>75,3% de acurácia</td>
                                        <td>53% de acurácia</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
