<%- include('./partials/header') %>

    <div class="container">


        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index" aria-current="true">Introdução</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/classificacao">Problemas de Classificação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regressao">Problemas de Regressão</a>
                    </li>
                </ul>
            </div>

            <div class="main">
                <div class="card-body ">
                    <h1 class="card-title"><strong>Portal de Ciência de Dados Educacionais</strong></h1>
                    <p class="card-text"><strong>Vinícius Vedovotto</strong></p>
                    <div class="border"></div>
                    <div class="content">

                        <h2>Sobre o portal</h2>
                        <br>
                        <p>
                            Este portal tem por objetivo apresentar um pouco sobre o assunto teórico e prático acerca
                            da Ciência de Dados e mais especificamente, da <b>Ciência de Dados Educacionais</b>.
                            Serão apresentados tópicos como: Ciência de Dados, Ciência de Dados Educacionais,
                            Aprendizado de
                            Máquina,
                            Mineração de Dados, Visualização de Dados.
                        </p>
                        <p>
                            O objetivo principal deste projeto de Conclusão de Curso é estudar, analisar e
                            implementar técnicas de Ciência de Dados Educacionais a fim de relacionar dados
                            da educação básica e encontrar padrões por meio de mineração e visualização.
                        </p>

                        <div class="border"></div>

                        <h2>Ciência de Dados</h2>
                        <br>
                        <p>
                            O que se conhece hoje pelo termo Ciência de Dados (do inglês, Data
                            Science) talvez tenha sido introduzido pela primeira vez por Jeff Wu numa palestra
                            na Universidade de Michigan, EUA. Porém, pode ter sido Turkey (1962, 1977), com
                            a denominação de Análise Exploratória de Dados (do inglês, Exploratory Data
                            Analysis), o primeiro a dar importância ao termo Ciência de Dados (CD), ao sugerir
                            que se desse mais ênfase ao uso de gráficos, tabelas e outras ferramentas para
                            desenvolver uma análise preliminar de dados, antes de uma análise confirmatória,
                            ou seja, uma inferência estatística. (MORETTIN; SINGER, 2020)
                        </p>
                        <p>
                            Como ressalta Donoho (2017), uma das principais atividades de um cientista
                            de dados é analisar grandes quantidades de dados (megadados) provenientes de
                            censos, coletas de informações, observações de séries, minerações e há mais de
                            200 anos essas análises têm sido preocupação dos estatísticos.
                        </p>
                        <p>
                            Três perspectivas de Ciência de Dados e Estatística são discutidas por Blei &
                            Smyth (2017): estatística, computacional e humana. Segundo eles, a perspectiva
                            estatística guia a coleta e análise de dados complexa; a computacional desenvolve
                            algoritmos que processam rapidamente em seus processadores enormes conjuntos
                            de dados e permite o armazenamento em memória, possibilitando assim, grande
                            velocidade de cálculo e grande quantidade de armazenamento; e a humana
                            permitindo integrar as duas perspectivas anteriores dependendo de suas
                            necessidades para poder resolver problemas de outros domínios específicos,
                            entender esses domínios, decidir quais dados obter, saber como explorá-los,
                            processá-los e visualizá-los, assim como apresentar esses resultados a todos que
                            propuseram o problema.
                        </p>

                        <div class="border"></div>

                        <h2>Ciência de Dados Educacionais</h2>
                        <br>
                        <p>
                            Segundo Rosenberg et al. (2020), todos usamos dados em várias etapas da
                            vida, pais usam dados para escolher onde morar e qual escola matricular seus
                            filhos, empresas usam para saber onde investir, crianças usam na escola para
                            aprender sobre a sociedade, ciência, governantes usam para analisar resultados.
                            Com isso em mente, fica claro entender que com a educação não é diferente,
                            podendo utilizar de dados para impactar no ensino e na aprendizagem. Podem ser
                            utilizados dados coletados conforme os alunos interagem com Ambientes Virtuais de
                            Aprendizagem (AVA) para poder compreender melhor o aprendizado através de
                            análise e interpretação desses dados (LEE et al., 2015).
                        </p>
                        <img src="img/fig-01.png" alt="Educational Date Science"
                            style="width: 500px; margin-left: 20em;">
                        <p>
                            Ou seja, na perspectiva da capacidade humana no caso da Ciência de Dados
                            Educacionais, utiliza-se de conhecimentos em ensino, aprendizagem e sistemas
                            educacionais.
                        </p>

                        <div class="border"></div>

                        <h2>Mineração de Dados</h2>
                        <br>
                        <p>
                            Segundo Baker et al. (2011) o termo Mineração de Dados (do inglês, Data
                            Mining) que também é conhecido como Descoberta de Conhecimento em Banco de
                            Dados, se refere a uma disciplina que possui como objetivo descobrir novas
                            informações através de processos de análise de grandes quantidades de dados e
                            por “novas informações” entende-se como as relações identificadas que podem
                            produzir novos conhecimentos e gerar novas descobertas. Um exemplo citado pelo
                            autor é que ao minerar dados de alunos em um banco de dados pode-se verificar a
                            relação entre uma abordagem pedagógica e o aprendizado do aluno e com isso
                            poder melhorar a tomada de decisões do professor sobre qual abordagem utilizar.
                        </p>

                        <div class="border"></div>

                        <h2>Mineração de Dados Educacionais</h2>
                        <br>
                        <p>
                            A mineração de dados é a aplicação de técnicas implementadas por
                            meio de algoritmos computacionais, capazes de receber como
                            entrada um conjunto de fatos ocorridos no mundo real e devolver
                            como saída um padrão de comportamento, o qual pode ser expresso,
                            por exemplo, como uma regra de associação, uma função de
                            mapeamento ou a modelagem de um perfil. (SILVA et al., 2016).
                        </p>
                        <p>
                            Ainda para Baker et al. (2011), a Mineração de Dados (MD) pode e é utilizada
                            em muitas áreas, como vendas, negócios, bioinformática. E com a recente expansão
                            dos cursos de educação a distância (EAD) e de tecnologias para suporte
                            educacional, muitos pesquisadores de Informática na Educação começaram a se
                            interessar pela MD para poder investigar assuntos educacionais, assim surgindo a
                            Mineração de Dados Educacionais (do inglês, Educational Data Mining, ou EDM).
                            Muitos dos métodos de Mineração de Dados Educacionais são originários da
                            Mineração de Dados, porém, pela necessidade de considerar uma hierarquia, muitas
                            vezes esses métodos acabam sendo modificados e adaptados.
                        </p>
                        <p>
                            Para Rodrigues et al. (2015) já não é mais discutida a importância das
                            Tecnologias da Informação e Comunicação (TICs) na educação, mas o que se busca

                            17

                            são novas técnicas, métodos e procedimentos para aperfeiçoar e potencializar o
                            ensino e a aprendizagem. Ramos et al. (2020) considera em seu artigo que as
                            diversas áreas de utilização de alguma ferramenta da ciência de dados na educação
                            beneficiará e apoiará estudantes, professores, dentre outros diretamente graças aos
                            avanços na Mineração de Dados Educacionais.
                            A Mineração de Dados Educacionais pode ser aplicada para resolver diversas
                            tarefas, tais como
                        <ul>
                            <li>Criação de alertas</li>
                            <li>Criação de modelos de aprendizagem</li>
                            <li>Criação de perfis de professores</li>
                            <li>Manutenção e melhoria dos cursos</li>
                            <li>Geração de recomendações</li>
                            <li>Previsão de notas e resultados de aprendizagem</li>
                            <li>Criação de perfis de alunos</li>
                        </ul>
                        Entre muitas outras aplicações...
                        </p>
                        <p>
                            Podendo algumas dessas tarefas se relacionarem entre si para serem
                            aplicadas para determinados objetivos.
                        </p>

                        <div class="border"></div>

                        <h2>Visualização da Informação</h2>
                        <br>
                        <p>
                            Segundo Few (2009) a visão humana é, de longe, o sentido predominante e
                            mais poderoso, cerca de 70% dos receptores sensoriais do corpo advém da visão. A
                            visão é o portal sensorial humano mais intimamente ligado à cognição, assim
                            possibilitando que se enxergue detalhes e padrões nos dados. “Imagens são
                            processadas pelo sistema nervoso antes do que texto e sua visualização
                            potencializa a memória ao fornecer um extenso conjunto de trabalho para análise e
                            reflexão, tornando-se assim um facilitador externo da cognição” (SASIETA et al.,
                            2012, p. 382).
                        </p>
                        <p>
                            Visualização da Informação são os processos de produção de
                            representações visuais de dados, que visam melhorar a capacidade
                            de realizar uma tarefa através da codificação de informações muitas
                            vezes altamente abstratas, em uma forma visual. A visualização
                            pode ser estática ou dinâmica e interativa e, através de uma
                            variedade de meios de comunicação (por exemplo, jornal, cartaz,
                            website ou software) (MCINERNY et al., 2014, p. 149 - tradução de
                            ALVES, 2015).
                        </p>
                        <img src="http://blog.marcoreis.net/wp-content/uploads/2013/05/data-visualization-tag-cloud.png"
                            alt="Visualização de dados [image]">

                        <div class="border"></div>

                        <h2>Aprendizado de Máquina</h2>
                        <br>
                        <p>
                            Aprendizado de Máquina é uma área de IA cujo
                            objetivo é o desenvolvimento de técnicas
                            computacionais sobre o aprendizado bem como a
                            construção de sistemas capazes de adquirir
                            conhecimento de forma automática
                            Um sistema de aprendizado é um programa de
                            computador que toma decisões baseado em
                            experiências acumuladas através da solução
                            bem sucedida de problemas anteriores. São os chamados algoritmos de Machine Learning (ML).
                            Alguns exemplos são as Redes Neurais Artificiais (RNA), Vizinhos Proximos (KNN), Árvores de Decisão (Decision Trees), Naïve Bayes (Naive Bayes),
                            Regressão Linear (Linear Regression), Regressão Logística (Logistic Regression)...
                        </p>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>