<%- include('./partials/header') %>

  <div class="container">

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/index">Introdução</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/classificacao">Problemas de Classificação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/regressao" aria-current="true">Problemas de Regressão</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Something</h5>


      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>